

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'kohinoor';
    src: url('../../public/assets/Fonts/Kohinoor_Arabic_Regular.TTF');


  }

  body {
    font-family: 'kohinoor', sans-serif;
  }

